body{
    margin: 0;
    padding: 0;

    font-family: 'PT Sans Narrow', Arial, sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;

    background-color: black;
    background-image: url("../img/background.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

 .inner-page{
    background-color: #f7f4f1;
    background-image: url("../img/cube.jpg");
    background-position: 0 0;
    background-repeat: repeat;

} 

a{
    text-decoration: none;
}

.main-navigation{
    font-size: 16px;
    line-height: 20px;
    color: white;
}

.main-navigation-wrapper .container{
    display: flex;
    justify-content: space-between;
}

.container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.site-navigation,
.user-navigation{
    list-style: none;
}

.site-navigation a,
.user-navigation a{
    color: white;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
    background-color: #242424
}

.features-list {
    list-style: none;
}

.features-item{
    text-align: center;
}

.features-item h3{
    font-size: 30px;
    line-height: 42px;
}

.features-item p{
    font-size: 14px;
    line-height: 24px;
}

.index-collumns{
    color:black;

    background-color: #f7f4f1;
    background-image: url("../img/cube.jpg");
    background-position: 0 0;
    background-repeat: repeat;

}

.index-collumns h2{
    font-size: 30px;
    line-height: 42px;
}

.news-item time{
    text-transform: none
}

.news-list {
    list-style: none
}

.gallery-content{
    background: #cccccc;
    border: 7px solid #ffffff ;
}

.button{
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: center;
    text-transform: uppercase;

    background-color: black;
    border: none;
}

.button:hover,
.button:active,
.button:focus{
    background: #663d15;
}

.appointment-item input{
    font: inherit;

    background-color: transparent;
    border: 2px solid black
}

.appointment-item input:focus{
    border: 2px solid #663d15
}

.main-footer{
    color: #ffffff;

    background-color: #212121
}

.footer-contacts a{
    text-decoration: underline;
    color: #ffffff
}

.footer-contacts a:hover{
    text-decoration: none
}

.footer-social{
    text-align: center
}

.footer-social ul{
    list-style: none;
}

.footer-copyright{
    text-align: center
}

.catalog-container{
    color: black;

    background-color: #f9f6f3;
    background-image: url("../img/cube.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.page-title{
    font-size: 30px;
    line-height: 42px;
}

.breadcrumbs {
    margin: 0px;
    padding: 0px;
}

.breadcrumbs a{
    color: black;
}

.breadcrumbs{
    list-style: none;
}

.breadcrumbs-item:hover,
.breadcrumbs-item:focus{
    text-decoration: underline;
}

.breadcrumbs-current{
    color: #aba9a7;
}

.filters fieldset{
    border: none;
} 

.filters legend{
    font-size: 24px;
    line-height: 30px;
}

.filters ul{
    list-style: none;
    line-height: 18px;
}

.filter-input:hover + label,
.filter-input:focus + label{
    color: #663d15;
}

.filter-input:disabled + label{
    color: #000000;

    opacity: 0.5;
}

.catalog-list{
    list-style: none;
}

.catalog-item{
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.catalog-item:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.catalog-item a{
    color: #000000;
}

.catalog-item h3{
    font-size: 14px;
    line-height: 18px;
}

.catalog-item-category{
    text-transform: none;
}

.catalog-item-price b{
    font-size: 14px;
    line-height: 20px;
    text-align: center;

    background-color: #e5e5e5;
}

.catalog-item-price .button{
    line-height: 20px;
    color: #ffffff;
}

.pagination-list{
    list-style: none;
}

.pagination-list a{
    color: #ffffff;

    background-color: #000000;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
    background-color: #663d15;
}

.pagination-item-current a{
    color:#000000;

    background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:active,
.pagination-item-current a:focus{
    color:#000000;

    background-color: #ffffff;
}


/* --------Сетка------- */

.main-header{
    margin-bottom: 75px;
}

.inner-page .main-header{
    margin-bottom: 50px;

    background-color: #000000;
}

.inner-page .main-header-logo{
    width: 111px;
    height: 24px;

    padding: 23px 20px;

    order: 0;
}
.inner-page .main-navigation{
    align-items:  flex-start;

    flex-direction: row;
}


.main-navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header-logo{
    width: 368px;
    height: 153px;

    order: 3;
}

.site-navigation{
    margin: 0px;
    padding: 0px;
    width: 620px;

    list-style: none;
}
.inner-page .user-navigation{
    margin-left: auto;
}
.user-navigation{
    margin: 0px;
    padding: 0px;
    width: 140px;

    list-style: none;
}

.main-navigation-wrapper{
    width: 100%;
    margin-bottom: 60px;

    background-color: #000000;
}

.navigation-wrapper{
    width: 100%;

    background-color: #000000;
}

.features-list{
    margin: 0px;
    padding: 0px;

    display: flex;
    justify-content: space-between;
    list-style: none;
}

.features-item{
    width: 300px;
}

.features{
    margin-bottom: 80px;
}

.index-collumns{
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.news, .contacts{
    width: 380px;
}

.gallery, .appointment{
    width: 300px;
}

.main-footer .container{
    display: flex;
}

.inner-page .main-footer{
    margin-top: 45px;
}

.main-footer{
    margin-top: 65px;
    padding: 60px 0px;
}

.footer-contacts{
    margin: 0px;
    padding: 0px;
    margin-right: 80px;

    width: 320px;
}

.footer-social{
    width: 145px;
}

.footer-copyright{
    width: 150px;
    margin: 0;

    margin-left: auto;
}

.navigation{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-photos{
    width: 460px;
}

.product-info{
    width: 390px;
}

.catalog-collumns{
    
    display: flex;
    justify-content: space-between;
}

.catalog-container{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.product-photo-preview{
    list-style: none;
}

.product-info ul{
    list-style: none;
}

.page-title{
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

.breadcrumbs{
    margin: 0px;
    margin-bottom: 50px;
    padding: 0px;
}

.filters{
    width: 180px;
}

.catalog{
    width: 700px;
}

.catalog-item{
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
}

.catalog-item:nth-child(3n){
    margin-right: 0;
}

.catalog-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    list-style: none;
    padding: 0;
    margin-bottom: 25px;
}

.pagination-list{
    margin: 0;
    list-style: none;
    padding: 0;
}
